name: Read the Docs Pull Request Preview
on:
  pull_request:

permissions:
  pull-requests: write

jobs:
  documentation-links:
    runs-on: ubuntu-latest
    steps:
      # Under https://app.readthedocs.org/dashboard/<project-slug>/pull-requests/
      # make sure "Build pull requests for this project" is checked
      - uses: readthedocs/actions/preview@v1
        with:
          project-slug: "qubitpi-writethedocs"
          single-version: "true"
